# Python bytecode & caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual Environments
venv/
env/
.venv/

# Environment variables & secrets
.env
.env.*

# IDE metadata
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs & Temporary files
*.log
scratch/
